.home-container {
  margin: 1rem;
  background-color: var(--color-10);
  padding: 0.5rem;
  border-radius: 12px;
}

.home-title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
  font-weight: bold;
  color: var(--color-70);
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.add-btn,
.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.buttons > button {
  border: 0;
  cursor: pointer;
  background-color: var(--color-20);
  font-size: 1rem;
  margin: 0.5rem;
  padding: 0.5rem 1rem;
  border-radius: 12px;
  color: var(--color-80);
}

.buttons > button:hover {
  background-color: var(--color-30);
}
