.home-container {
  margin: 1rem;
  background-color: var(--color-10);
  padding: 0.5rem;
  border-radius: 12px;
}

.home-title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
  font-weight: bold;
  color: var(--color-70);
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.add-btn,
.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 80%;
}

.buttons {
  flex-direction: column;
}

.buttons > * {
  border: 0;
  cursor: pointer;
  background-color: var(--color-20);
  font-size: 1rem;
  margin: 0.5rem;
  border-radius: 8px;
  color: var(--color-80);
}

.buttons > *:hover {
  background-color: var(--color-30);
}

.add-btn {
  font-size: 0.8rem;
}

.submit-btn {
  font-weight: bold;
  padding: 0.5rem 1rem;
}

.submit-btn:hover {
  box-shadow: 0px 0px 20px 0px #ffffff;
}
