.result-container {
  background-color: var(--color-80);
  padding: 0.5rem;
  border-radius: 8px;
  margin: 0.5rem;
  color: white;
  box-shadow: 0px 0px 15px 0px #ffffff;
}

.result-header {
  display: flex;
  justify-content: space-between;
  font-size: 1.3rem;
}

.result-body {
  display: flex;
}

.result-image {
  width: 3rem;
  height: 3rem;
}

.result-desc {
  margin: 0.3rem;
}

.missing {
  color: red;
}

.error {
  background-color: rgba(255, 0, 0, 0.226);
}

.result-url {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
  background-color: rgba(255, 255, 255, 0.45);
  border-radius: 12px;
  padding: 0 0.7rem;
  max-height: 2rem;
}

.result-url:hover {
  background-color: rgba(255, 255, 255, 0.85);
}

.result-image {
  margin: 0.2rem;
  padding: 0.5rem;
  background-color: white;
  border-radius: 12px;
}

.result-title {
  font-weight: bold;
}
